@import url('/assets/css/reset.css');


.banner{
    width: 1440px;
    height: 605px;
    background-image: url('/assets/images/banner.png'), linear-gradient(180deg, rgb(0, 0, 0) , rgb(9, 87, 121),rgb(0, 0, 0));
    text-align: center;
}
.logo{
    align-items: center;
}
#course-content{
    text-align: center;
}
#transform-world{
    color: #fff;
    text-shadow: 3px 2px 0px #33A8DB;
    width: 1440px;
    height: 500px;
    background-image: url('../images/woman-code.png'), linear-gradient(#000, #000);
    background-size: 100%;
    background-attachment: fixed;
}
