@import url('/assets/css/reset.css');


.banner{
    width: 1440px;
    height: 605px;
    background-color: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(49, 168, 221, 0) 100%);
    background-image: url('/assets/images/banner.png');
    text-align: center;
}
.logo{
    align-items: center;
}
#course-content{
    text-align: center;
}
#transform-world{
    color: #fff;
    filter: drop-shadow(3px 2px 0px #33A8DB);
    width: 500px;
    height: 100px;
}